header.header {
  width: 100%;
  padding: 15px 0;
  position: absolute;
  left: 0;
  top: 0;
   backdrop-filter: blur(14px) saturate(200%);
  -webkit-backdrop-filter: blur(14px) saturate(200%);
  background-color: rgba(35, 35, 44, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.125);
}

nav.desktop {
  width: 100%;
}

nav.desktop ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  list-style-type: none;
}

nav.desktop ul a {
  font-weight: 200;
  font-size: 1.4rem;
}

nav.desktop ul a:hover{
    color: rgb(43, 185, 185);
}