main.styled > .center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 2%;
}

.mainBox {
  width: 100%;
  max-height: calc(100vh - 80px);
  backdrop-filter: blur(14px) saturate(200%);
  -webkit-backdrop-filter: blur(14px) saturate(200%);
  background-color: rgba(35, 35, 44, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 16px 16px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.dashboard .subTitle {
  font-size: 1.4rem;
  font-weight: 300;
  text-align: center;
  text-shadow: 0 0 5px;
  margin-bottom: 45px;
}

.dashboard .subTitle:not(:first-of-type) {
  padding-top: 15px;
  border-top: 1px solid rgba(94, 94, 94, 0.644);
  margin-top: 45px;
}

.chartForm,
.flexColumn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.chart {
  margin: 15px 0;
}

.chart,
.flex {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.dashboard input,
.dashboard select {
  width: clamp(170px, 100%, 250px);
}

.dashboard select {
  cursor: pointer;
}
